
:root{
  --brand-color: #E3120B;
  --blue-accent1: #141F52;
  --blue-accent2: #2E45B8;
  --blue-accent3: #475ED1;
  --orange: #F97A1F;
  --off-black: #1A1A1A;
  --greyscale:#F2F2F2;
  --red-color: #E2365B;
  --green-color: #50c878;
  /* colors borrowed from The Economist Design System - https://design-system.economist.com/foundations/colour/palettes#accent-primary */
}

body {
  display: flex;
  font-family: 'Merriweather Sans', sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

main {
  position: relative;
  width: 800px;
  margin-left: 60px;
  margin-right: 60px;
  min-height: auto;
  max-width: 80%;
  background-color: var(--greyscale);
  border-radius: 5px;
  padding: 15px;
  border-style: solid;
  border-color: #2E45B8;
  box-shadow: 0 0 5px 2px;
  margin-top: 40px;
}

.main-menu {
  flex-direction: column;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 34px;
}

.intro-paragraph {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 40px;
}

.card-view, .results {
  display: none;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 10px;
  margin: 20px 0;
}

.next {
  display: flex;
  justify-content: center;
}

/* #next {
  justify-content: center;
  align-items: center;
} */

.answer:hover {
  border-color: black;
}
.answers.correct {
 background-color: var(--green-color);
}
.answers.wrong {
 background-color: var(--red-color);
}

.error-message {
  display: none;
  justify-content: center; 
  align-items: center; 
  font-weight:600;
  color: var(--brand-color);
}

/* global button styles (collapsed) */
button {
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 6px;
    margin: 10px 40px; 
    height: 38px;
    min-width: 136px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: var(--blue-accent2);
    transition: background-color .17s ease,color .17s ease;
    
}
button:hover {
    background-color: var(--blue-accent3);
}

.region-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 10px;
  margin: 20px 0;
}

.region-btn.clicked {
  background-color: var(--blue-accent1);
}

.div-play {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 15vh; 
  margin: -20px 0 6px 0;
}

.play-btn {
  background-color: var(--blue-accent3);
  height: 48px;
  min-width: 236px;
  min-height: 38px;
  font-size: 24px;
  font-weight: 500;

}
button:hover {
  background-color: var(--blue-accent1);
}

.close {
  display: flex;
  align-items: end;
  justify-content: right;
  border-width: 4px;
}

.close-btn {
  margin: 0 5px 10px 0;
  background-color: var(--green-color);

}

h2 {
  text-align: center;
  position: relative;
}