
:root{
  --brand-color: #E3120B;
  --blue-accent1: #141F52;
  --blue-accent2: #2E45B8;
  --blue-accent3: #475ED1;
  --orange: #F97A1F;
  --off-black: #1A1A1A;
  --greyscale:#F2F2F2;
  --wrong-color: #F6423C;
  --correct-color: #1DC9A4;
  --green-color: #50c878;
  /* colors borrowed from The Economist Design System - https://design-system.economist.com/foundations/colour/palettes#accent-primary */
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 800px;
  margin-left: 60px;
  margin-right: 60px;
  min-height: auto;
  max-width: 80%;
  background-color: var(--greyscale);
  border-radius: 5px;
  padding: 15px;
  border-style: solid;
  border-color: #2E45B8;
  box-shadow: 0 0 5px 2px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  position: relative;
}

p {
  margin-bottom: 10px;
}

.card-view, .results {
  display: none;
}

.answer:hover {
  border-color: black;
}
.answers.correct {
 background-color: green;
}
.answers.wrong {
 background-color: red;
}

.error-message {
  display: none;
  justify-content: center; 
  align-items: center; 
  font-weight:600;
  color: var(--brand-color);
}


button {
    display:inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 6px;
    margin: 10px 40px; 
    height: 38px;
    min-width: 136px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: var(--blue-accent2);
    transition: background-color .17s ease,color .17s ease;
    
}
button:hover {
    background-color: var(--blue-accent3);
}

.region-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 10px;
  margin: 20px 0;
}

.region-btn.clicked {
  background-color: var(--blue-accent1);
}

.div-play {
  
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 15vh; 
  margin: -20px 0 6px 0;
}

.play-btn {
  background-color: var(--blue-accent3);
  height: 48px;
  min-width: 236px;
  min-height: 38px;
  font-size: 24px;
  font-weight: 500;

}
button:hover {
  background-color: var(--blue-accent1);
}



/* 
button {
  display:inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 80px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: var(--blue-accent1);
  transition: background-color .17s ease,color .17s ease;
  :hover {
      background-color: rgb(71, 82, 196);
  }

  
  } */
  

/* 
display: inline-block;
outline: 0;
cursor: pointer;
border: none;
padding: 0 56px;
height: 45px;
line-height: 45px;
border-radius: 7px;
background-color: #0070f3;
color: white;
font-weight: 400;
font-size: 16px;
box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%); */

button:hover {

}
